{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grading System{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/func.js' %}"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav id="sidebar">
        <button class="close-btn" id="close-btn">&times;</button>
        <ul>
            <li><a href="{% url 'mysub' %}">My Subject</a></li>
            <li><a href="{% url 'mysub' %}">Authorize Student</a></li>
            <li><a href="{% url 'mysub' %}">Export CSV,XLSV</a></li>
        </ul>
    </nav>
    
    <div id="main-content">
        <header id="top-navbar">
            <button class="menu-btn" id="menu-btn">&#9776;</button>
            <a href="{% url 'login' %}" class="account-btn">&#128100;</a>
        </header>   
    </div>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/func.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
